/* Carousel.css */
.fade-enter {
  opacity: 0;
  position: absolute; /* Absolute positioning to overlay on top of the existing image */
  /* top: 0; */
  right: 100%; /* Start from the right outside of the container */
}
.fade-enter-active {
  opacity: 1;
  right: 0; /* Slide in to cover the existing image */
  transition: opacity 300ms, right 300ms ease-in-out;
}
.fade-exit {
  opacity: 1;
  position: absolute; /* The existing image will start moving out when the new one slides in */
  /* top: 0; */
  left: 0; /* Start at the normal position */
}
.fade-exit-active {
  left: -100%; /* Move out to the left */
  transition: left 300ms ease-in-out;
}
